.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
}

h3 {
  color: black;
  font-weight: normal;
}

.search-container input[type="text"] {
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0 20px 20px 0;
}

.search-container button:hover {
  background-color: #0056b3;
}


:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boat-list {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boat-item {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 400px;
  color: black;
}

.boat-name {
  font-weight: bold;
  font-size: 1.2em;
}

.boat-price,
.boat-capacity,
.boat-license,
.boat-skipper {
  margin-top: 10px;
}
