<img
    src="https://images.unsplash.com/photo-1603275218135-07c03485bba9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2FpbGJvYXR8ZW58MHx8MHx8fDA%3D&w=1000&q=80"
    alt="Het Vrolijke Avontuur landing page background" />

<section class="textSection">
    <h1>
        Ben je op zoek naar een actief, maar toch ontspannend uitje? Met het
        gezin, of misschien met jou afdeling van het bedrijf waar je werkt? Met
        wie en met hoeveel maakt niet uit, wij nemen je graag mee op dit
        vrolijke avontuur in een van onze boten!
    </h1>

    <button class="button" routerLink="/boat">bekijk onze boten</button>
</section>
