img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    object-fit: cover;

    pointer-events: none;
    user-select: none;
}

.textSection {
    width: 50%;
    margin-inline: auto;
    margin-top: 30vh;

    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    color: white;
}

a {
    margin-inline: auto;
    
    font-size: x-large;
    font-weight: 900;
    color: white;
    text-decoration: none;

    padding: 1.5rem;
    border-radius: 0.625rem;
}